name: Release

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: "patch | minor | major"
        required: true
        default: "patch"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          # cache: pnpm

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - run: pnpm install
      - run: pnpm release ${{ inputs.releaseType }}

      - name: Push changes
        run: |
          git push origin main --tags
